  <div class = "container">
    <div class = "row">
      <br />
    <!--filler row-->
    </div>

    <div class = "row">
      <h3>Add a Persona</h3>
    <!--end header row-->
    </div>

     {{#each users}}
          <p>{{first_name}} {{last_name}}</p>
      {{/each}}

    {{!-- <form>
      <div class = "form-row">

       

        <div class = "form-group col-md-6">
          <label for = "profile_type">
            
            
          </label>
        </div>
      </div>
    </form>   --}}

  <!--end container-->
  </div>