<!doctype html>
<html lang="en">
{{>header}}

  <body class="text-center">
    <form class="" action="/login_page" method="post">
       <div class="form-group">
         <label for="username">Username</label>
         <input type="text" name="username" class="form-control" placeholder="Username">
       </div>

       <div class="form-group">
         <label for="password">Password</label>
         <input type="password" class="form-control" name="password" placeholder="Password">
       </div>


        <button type="submit" class="btn btn-primary">LOGIN</button
     </form>
   </div>

   <!-- <a href="/auth/google">Sign In with Google</a>
   <a href="/auth/facebook">Login with Facebook</a> -->

</html>
